<header style="padding-top: 25px; padding-left: 25px;">
  <h2> Select a Country to display details or compare details</h2>
</header>
<div style="padding-left: 25px;" >
  <input type="text" list="codes" [(ngModel)]="codeValue" (change)="saveCode($event)">
  <datalist id="codes">
    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
  </datalist>
</div>

<div style="padding-left: 25px;" class="modal" *ngIf="firstSelection > 1 && showModal">
  <p>
    Do yo wish to compare details with the previous Country?
  </p>
  <button (click)="decideToCompare(true)">yes</button>
  <button (click)="decideToCompare(false)">No</button>
</div>

<div style="display:flex">
  
    <div class="box" *ngIf="(firstSelection < 2 || !showModal) && (details | json) != '{}'">

      <span> Country Details: </span>

      <div class="details">
        <span class="sub-detail"> </span> Name : {{ details.name }}

        <span class="sub-detail"> </span> Captial : {{ details.capital }}

        <span class="sub-detail"> </span> Region : {{ details.region }}

        <span class="sub-detail"> </span>population : {{ details.population}}

        <span class="sub-detail">Languages spoken:

          <ng-container *ngFor="let language of details?.languages">
            {{ language.name }}
          </ng-container> </span>

      </div>

      <img src="https://www.countryflags.io/{{ details?.alpha2Code }}/flat/64.png">
    </div>
  


  <div class="box" *ngIf="compare && !showModal">

    <span>Country Details:</span>
    <div class="details">
      <span class="sub-detail"> </span> Name : {{ compareDetails.name }}

      <span class="sub-detail"> </span> Captial : {{ compareDetails.capital }}

      <span class="sub-detail"> </span> Region : {{ compareDetails.region }}

      <span class="sub-detail"> </span> population : {{ compareDetails.population}}

      <span class="sub-detail">
        Languages spoken:

        <ng-container *ngFor="let language of compareDetails?.languages">
          {{ language.name }}
        </ng-container> </span>

    </div>





    <img src="https://www.countryflags.io/{{ compareDetails?.alpha2Code }}/flat/64.png">
  </div>
</div>